 header{
    width: 100%;
    height: 70px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

::-webkit-scrollbar{width: 6px;}
::-webkit-scrollbar-thumb{background: #0858f7; border-radius: 10px;}
::-webkit-scrollbar-track{background: transparent;}

header .swift_logo{
    text-decoration: none;
}
header .swift_logo img{
    height: 45px;

}
header .swift_logo span{
    color: #292929; 
    font-weight:800 ;
    font-size: 24px;
}
header .rounded-circle{
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    background: #f0f5ff !important;
    color: #0858f7;
    
}
header button.rounded-circle:hover svg{
    color: #0858f7;
   
}
header button.rounded-circle svg{color: #292929; font-size: 18px;  transition: all 0.2 ease-in-out;}

 .userimg {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 1px solid #0858f7;
    padding: 2px;
    border-radius: 100%;
}
.myAcc{
    text-align: left;
    text-transform: capitalize;
    color: #0858f7 !important;
}
.userimg .rounded-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
 .userimg .rounded-circle img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.myAcc .userinfo{
    margin-left: 10px;
    
    
}
.myAcc .userinfo h4{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
}
.myAcc .userinfo p{
    margin-top: 0px;
    font-size: 12px;
    color: #000 ;
    opacity: 0.7;

}
#account-menu li{
font-size: 15px !important;
}
#account-menu li svg{
font-size: 20px !important;
}

#Notifications .MuiPaper-elevation{
width: 300px;

}

.head h4{
    font-size: 20px;
    font-weight: 600;
}


.dropdowninfo{
    padding-left: 15px;
}
.dropdowninfo h4{
font-size: 15px;
white-space: break-spaces;
line-height: 21px;
}
.dropdowninfo h4 b{
margin-right: 5px;
font-weight: 600;
}
.text-sky{
    font-size: 12px;
    color: #0858f7;
    font-weight: 500;
}
.dropdown-list {
    background:#ebf6ff !important;
}
.dropdown-list.MuiMenuItem-root:hover{
    background:#d0d6db !important;
}

.scroll{
    max-height: 300px; 
    overflow-y: auto;
}

