.SearchBox{
    width: 500px;
    height: 40px;
    background: #f0f5ff;
    border-radius: 6px;
    padding: 3px 15px;
}
.SearchBox input{
    background: transparent;
    border: 0px;
    outline: none;
    padding-left: 0px;
    font-size: 15px;
}
.SearchBox::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.6);
}
.SearchBox svg{
    font-size: 18px; color: #292929;
}